<h2>Questionário de Verificação de Perfil de Investidor</h2>

<h3>Informe a apetência ao risco: Digite 'Baixo', 'Médio' ou 'Alto'.</h3>

<p>
	<form>
    Aptência ao Risco:<br>
    <input type="text" name="risk">
    </form>
</p>

<h3>Informe a disponibilidade por uma aplicação: Digite 'Curto', 'Médio' ou 'Longo'.</h3>

<p>
	<form>
    Disponibilidade por Aplicação:<br>
    <input type="text" name="availability">
    </form>
</p>

<h3>Informe o nível esperado de oscilação de rendibilidade: Digite 'Baixo', 'Médio' ou 'Alto'.</h3>

<p>
	<form>
    Nível de oscilação de Rendibilidade:<br>
    <input type="text" name="risk">
    </form>
</p>