<h2>Questionário de Verificação de Perfil de Investidor</h2>

<h4>1º Informe a apetência ao risco (Quanto à perda de capital): Digite 'Baixo', 'Médio' ou 'Alto'.</h3>

<h4>2º Informe a disponibilidade por uma aplicação: Digite 'Curto', 'Médio' ou 'Longo'.</h3>

<h4>3º Informe o nível esperado de oscilação de rendibilidade: Digite 'Baixo', 'Médio' ou 'Alto'.</h3>

<%= link_to 'Responder Questionário', questionnaire_index_path %>