<h1>Entre com as informações nos campos de texto abaixo</h1>

<form action="questionnaire_result" method="post">
    Aptência ao Risco:<br>
    <input type="text" name="risk"><br>

    Disponibilidade por Aplicação:<br>
    <input type="text" name="availability"><br>

    Nível de oscilação de Rendibilidade:<br>
    <input type="text" name="profitability"><br>

    <input type="submit" value="Submeter">
</form>