<h1>Probabilidades de Perfis de Investimento</h1>

Conservador: <%= @probability_one %><br>
Moderado: <%= @probability_two %><br>
Dinâmico: <%= @probability_three %><br>
Arrojado: <%= @probability_four %><br>

<h2>O perfil que possui a maior probabilidade é o seu perfil de investidor.</h2>