<h1>Probabilidades de Perfis de Investimento</h1>

Conservador: <%= @probability_one %><br>
Moderado: <%= @probability_two %><br>
Dinâmico: <%= @probability_three %><br>
Arrojado: <%= @probability_four %><br>