< % content_for :top_content do %>
	<div class="container">
		<h1>Seja Bem Vindo!</h1>
		<p>Faça seu cadastro:</p>
		<p>
			<%= link_to 'Register', new_user_registration_path, class: 'btn btn-primary btn-lg'%>
		</p>	
	</div>
<% end %>	

