<% content_for :top_content do %>
<!---
	
	Essa página será usada se o sistema possuir uma página inicial explicativa, que informe alguma coisa ao usuário
	Antes da página de login. . A decidir. 13/11/15
		
----->
<div class="container">
	<h1>Bem vindo</h1>
	<p>
		Crie uma conta no sistema:
	</p>
	<p>
		<%= link_to 'Registro', new_user_registration_path, class: 'btn btn-primary btn-lg' %>
	</p>
</div>

<% end %>
