<% content_for :top_content do %>
  
    <div class="container">
      <h1>Bem vindo</h1>
      <p>Crie uma conta no sistema:</p>
      <p>
        <%= link_to 'Registro', new_user_registration_path, class: 'btn btn-primary btn-lg' %>
      </p>
    </div>
  
<% end %>
